<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/CSS/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
  </head>
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/styles.css">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
      <title>Mercado Liebre</title>
</head>

<body>
      <header>
            <div class="contenedor-logo">
                  <div class="logo">
                        <a href="/"><img src="/images/logo-mercado-liebre.svg" alt=""></a>
                  </div>
                  <div class="busqueda">
                        <input type="search" name="" id="" placeholder="Buscar productos, marcas">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                  </div>
                  <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjetas de crédito</p>
            </div>

            <nav>
                  <ul class="lista-superior">
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                  </ul>
                  <ul class="lista-inferior">
                        <li><a href="#">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                        <li><a href="#">Ingresá <i class="fas fa-sign-in-alt "></i></a></li>
                        <li><a href="#">Mis compras <i class="fas fa-shopping-basket "></i></a></li>
                  </ul>

            </nav>
            <div class="burger-menu">
                  <i class="fas fa-bars"></i>
            </div>
      </header>

     <main class="login">
      
        <form action="home" method="post" class="register-form">
          <div class="control-form">
                <label>Usuario</label>
                <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" class="control">
          </div>
          <div class="control-form">
                
                <label>Contraseña</label>
                <input type="password" name="password" id="password" placeholder="Contraseña" class="control">
          </div>
          <div class="control-form">
                <button type="submit" class="button-form"><a href="http://localhost:3000/">Enviar </a></button>
          </div>
    </form>

</main>
