@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
    /* Variables de colores */
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a; 
      /* Fuentes */
      --fuente: 'Roboto', sans-serif;
      /* Tamaños tipográficos */
      --parrafos: 12px;
      --titulos: 24px;
      --precio: 18px;
      --descuento: 16px;
      --descripcion: 16px;
  }
  
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fuente);
 }

 
 a {
    color: black;
    text-decoration: none;    
 }

 li{
    list-style: none;
 }

 p {
    font-size: var(--parrafos);
}

body {
   
    background-color: var(--gris-claro);
}

header{
    background-color: var(--amarillo);
    padding: 25px 0;

}

header div.logo{
    width: 130px;
    margin-left: 25px;

}

header div.busqueda {
    margin-left: 15px;
    width: 250px;
    margin-bottom: 10px;
}

header p{    
    text-align: center;
    margin-bottom: 15px;
}

header nav {
    display: none;
}

header nav ul.lista-superior {
    margin-bottom: 15px;

}

header nav ul li a {
    font-size: var(--parrafos);
}

header div.burger-menu {
    background-color: var(--celeste);
    border-radius: 5px;
    color: white;
    width: 30px;
    padding: 7px;
    margin: 25px auto 0;

}


/*secciones*/ 
main {
   /* justify-content: center;
    text-align: center;*/
    margin: auto;
    width: 90vw;
 }

 main section h4 {
    font-size: var(--titulos);
    color: var(--gris-oscuro);
    margin-bottom: 20px;
}

 article {
    margin: 10px 0px;

 }

 main section article div {
    border-top: 1px solid var(--gris-claro);
    padding: 15px;
 }

 main section article p.precio {
    font-size: var(--precio);
}

 main section article p.descuento {
    font-size: var(--descuento);
    color: var(--verde);
    padding-bottom: 15px;
 }
 main section article h5 {
    display: none;
}

 main section article div div.camion {
    width: 1.2em;
    height: 1.2em;
    color: var(--verde);
    border: 1px solid var(--verde);
    border-radius: 50%;
    padding-left: 5px;
    padding-top: 5px;
}

main section article p.descuento {
    font-size: var(--descuento);
    color: var(--verde);
    padding-bottom: 15px;
}



/*producto*/

footer {
    padding: 50px 10px 10px;
    background-color: white;
   
}

footer article {
    text-align: center;
    margin-bottom: 50px;
}

footer article i {
    font-size: 2em;
    color: var(--celeste);
   margin-bottom: 10px;
   
}

@media (min-width: 361px) {
    header div.burger-menu {
        display: none;
  }
  header nav {
        display: block;
  }
  main section article h5 {
        display: inline;
        font-size: var(--descripcion);
        color: var(--gris-oscuro);
  }
  main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
}



